[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
packages/
.nuget/
*.nupkg
project.lock.json
project.assets.json
*.cache
App_Data/*.mdf
App_Data/*.ldf
*.dll.config
