<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2"/>
  </configSections>
  <!--
    MVC 5 + OWIN + Sustainsys.Saml2.Owin 2.10.0 on .NET Framework 4.6.1.
    Entra Identifier must match entityId. Reply URL must be {publicOrigin}{modulePath}/Acs.
    Register https://localhost:44322/Saml2 and https://localhost:44322/Saml2/Acs in Entra.
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="owin:AutomaticAppStartup" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="4096"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors mode="Off"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <sustainsys.saml2 entityId="https://localhost:44322/Saml2" returnUrl="https://localhost:44322/" publicOrigin="https://localhost:44322/" modulePath="/Saml2" authenticateRequestSigningBehavior="Never" minIncomingSigningAlgorithm="SHA256">
    <identityProviders>
      <add entityId="https://sts.windows.net/32761e73-fd53-4cfd-9dfe-946febf1aae4/" metadataLocation="https://login.microsoftonline.com/32761e73-fd53-4cfd-9dfe-946febf1aae4/federationmetadata/2007-06/federationmetadata.xml?appid=82009cdd-38d2-4416-8d76-1ff399842494" loadMetadata="true" allowUnsolicitedAuthnResponse="true" relayStateUsedAsReturnUrl="false" wantAuthnRequestsSigned="false" disableOutboundLogoutRequests="true" binding="HttpRedirect"/>
    </identityProviders>
    <compatibility unpackEntitiesDescriptorInIdentityProviderMetadata="true"/>
  </sustainsys.saml2>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>