<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="sustainsys.saml2" type="Sustainsys.Saml2.Configuration.SustainsysSaml2Section, Sustainsys.Saml2"/>
  </configSections>
  <!--
    SAML 2.0 + Entra. Sustainsys reads ONLY <sustainsys.saml2>.
    Entra Identifier and audienceUris must match entityId.
    Entra Reply URL must be {publicOrigin}{modulePath}/Acs.
    IdP metadata is ~/App_Data/Azure-Dev-IdP-WebPlus-Localhost-Dev.xml (dummy until replaced).
    After swapping in the team file, set identityProviders entityId to that file's EntityDescriptor entityID.
    WebPlus IIS farms must set a unique <machineKey> per environment so the session cookie still decrypts after recycle.
  -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="4096"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors mode="Off"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration maximumClockSkew="00:05:00">
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </securityTokenHandlers>
      <audienceUris>
        <add value="https://localhost:44322/Saml2"/>
      </audienceUris>
      <certificateValidation certificateValidationMode="None"/>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" name="SmalAuth.Saml" path="/"/>
    </federationConfiguration>
  </system.identityModel.services>
  <sustainsys.saml2 entityId="https://localhost:44322/Saml2" returnUrl="https://localhost:44322/" publicOrigin="https://localhost:44322/" modulePath="/Saml2" authenticateRequestSigningBehavior="Never" minIncomingSigningAlgorithm="SHA256">
    <identityProviders>
      <add entityId="https://sts.windows.net/32761e73-fd53-4cfd-9dfe-946febf1aae4/" metadataLocation="~/App_Data/Azure-Dev-IdP-WebPlus-Localhost-Dev.xml" loadMetadata="true" allowUnsolicitedAuthnResponse="true" relayStateUsedAsReturnUrl="true" wantAuthnRequestsSigned="false" disableOutboundLogoutRequests="true" binding="HttpRedirect"/>
    </identityProviders>
    <compatibility unpackEntitiesDescriptorInIdentityProviderMetadata="true"/>
  </sustainsys.saml2>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>