<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes" debug="true" />
    <customErrors defaultRedirect="~/Home/Index" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="~/Home/Index" />
    </customErrors>
  </system.web>
</configuration>
